/* Scroll fluide */
/*Alain BOURSIER*/
html {
    scroll-behavior: smooth;
}

/* Réinitialisation rapide */
body {
    background: url(images/Ciel-nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 60px;
    text-shadow:  -3px -5px 2px black;;
    /* Pour éviter que le menu fixe recouvre le contenu */
}

/* Menu fixe en haut */
nav {
    background: url(images/Ciel-nature.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

nav li {
    margin: 0 15px;
    color: white;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #007acc;
}

.title1 {
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.paragraphe1 {
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.ancrage1 a {
    color: rgb(22, 255, 1);
    font-weight: 800;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #030000e2;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 200px 10px;
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
}

p {
    color: white;
    font-weight: bold;
    background-color: #01000061;
    border-radius: 5px;
}

.ulPara li {
    font-weight: bold;
    color: white;
    background-color: #05000088;
    border-radius: 4px;
    list-style: none;
    gap: 1px;
    margin-top: 7px;
}

/* Titres */
h1 {
    padding: 0 0 0 10px;
    width: 400px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgba(6, 0, 0, 0.439);
}

h2 {
    margin-top: 40px;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.326);
}

ul {
    padding-left: 20px;
}

strong {
    color: #f6ff00;
}

@media (max-width: 768px) {
    html body {
        background: url(images/Ciel-nature.jpg);
        background-repeat: no-repeat;
        background-position: fixed;
        background-size: cover;
        background-attachment: fixed;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.2;
        padding-top: 0;
    }
    .title1 {
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

.paragraphe1 {
    display: block;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

    .title1 {
        margin-top: 200px;
    }

    h1 {
        text-align: center;
    }

    nav {
        width: 50px;
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
        justify-content: space-around;
        width: auto;
        margin: auto;
        z-index: 1000;
    }

    nav a {
        color: rgb(255, 255, 255);
        border-radius: 5px 30px;
        font-size: 1.3em;
        font-weight: 800;
    }


    section {
        position: relative;
        top: -8px;
        text-align: center;
        font-weight: bold;
        color: white;
        margin: auto;
    }
}